# Build directories
build/
*/build/
lib_build/
*/lib_build/
Debug/
Release/
*/Debug/
*/Release/

# Build artifacts
*.o
*.a
*.su
*.elf
*.hex
*.bin
*.map
*.lst
*.list
*.d
*.log
*buildlog
*flashlog

# IDE / Eclipse / CubeIDE
.settings/
.metadata/
*.launch

# OS
.DS_Store
Thumbs.db
