# Build outputs
Debug/
Release/
*/Debug/
*/Release/
build/
*/build/

# Binaries
*.o
*.a
*.su
*.elf
*.hex
*.bin
*.map
*.list
*.d

# IDE / Eclipse / CubeIDE
.settings/
.metadata/
*.launch

# OS junk
.DS_Store
Thumbs.db


*buildlog
*flashlog
*.log
